body{
    padding: 0;
    margin: 0;
}

p,
h1,
a{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav{
    background-color: black;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

header nav{
    height: 18vh;
    text-align: center;
}

header nav h1{
    padding-top: 40px;
    margin-bottom: 15px;
    font-size: 30px;
}

.a{
    margin-right: 15px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 10px;
    margin-top: 10px;
}

.picture-container,
.text1-container,
.video-container,
.text2-container{
    background-color: rgb(240, 240, 240);
    height: 25vh;
    padding: 10px;
    border-radius: 10px;
}

.picture-container,
.text1-container,
.video-container{
    margin-right: 15px;
}

.picture{
    width: 100%;
    height: 100%;
    transition: scale 0.75s;
}
.picture:hover{
    scale: 0.8;
}

.text1-container h1,
.text2-container h1{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.text1-container p,
.text2-container p{
    margin-left: 10px;
    margin-bottom: 15px;
    width: 200px;
}

.button{
    margin-left: 10px;
    border-style: none;
    border: 1px solid black;
    border-radius: 3px;
}

footer nav{
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
}

.text-footer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}

@media (max-width:480px){
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 10px;
        margin-right: 10px;
        padding: 0;
    }

    .picture-container,
    .text1-container,
    .video-container,
    .text2-container{
        margin-bottom: 10px;
    }

    .picture-container,
    .text1-container,
    .video-container{
        margin-right: 0px;
    }
}